Importing the required packages

In [16]:
import pandas as pd
import geopandas as gpd
import seaborn as sns
import matplotlib.pyplot as plt

Loading the dataset and removing all the rows with missing values

In [17]:

# Load the dataset
df = pd.read_csv('Chicago_Traffic_Tracker_-_Historical_Congestion_Estimates_by_Segment_-_2018-Current.csv')

# Data Exploration
print(df.head())  # Displays the first few rows of the dataset
print(df.info())  # Displays column data types and non-null counts
print(df.describe())  # Displays summary statistics for numerical columns
print(df['STREET'].unique())  # Displays unique values in the 'STREET' column
print(df.shape)  # Displays the shape of the data before cleaning

# Data Cleaning: Remove rows with missing values
df_clean = df.dropna()

                     TIME  SEGMENT_ID  SPEED               STREET DIRECTION  \
0  11/20/2020 11:10:58 AM      1171.0   23.0               Harlem        SB
1  11/20/2020 11:10:26 AM       176.0   -1.0             Garfield        WB
2  11/20/2020 11:10:29 AM        37.0   18.0              Pulaski        NB
3  11/20/2020 11:10:44 AM       719.0   24.0  Dr Martin L King Jr        SB
4  11/20/2020 11:10:55 AM       495.0   -1.0               Archer        EB

  FROM_STREET TO_STREET  LENGTH STREET_HEADING             COMMENTS  ...  \
0   North Ave   Chicago    1.01              N  Outside City Limits  ...
1     Ashland     Damen    0.50              W                  NaN  ...
2        31st      26th    0.50              S                  NaN  ...
3        24th      26th    0.26              S                  NaN  ...
4     Central   Laramie    0.51              S                  NaN  ...

   HOUR  DAY_OF_WEEK  MONTH          RECORD_ID  START_LATITUDE  \
0  11.0          6.0   11.0  1171-202011201710       41.908856
1  11.0          6.0   11.0  0176-202011201710       41.794162
2  11.0          6.0   11.0  0037-202011201710       41.836881
3  11.0          6.0   11.0  0719-202011201710       41.849341
4  11.0          6.0   11.0  0495-202011201710       41.795574

  START_LONGITUDE  END_LATITUDE  END_LONGITUDE  \
0      -87.805954     41.894268     -87.805501
1      -87.664580     41.794054     -87.674299
2      -87.724167     41.844254     -87.724440
3      -87.618501     41.845700     -87.617659
4      -87.762403     41.797089     -87.752657

                         START_LOCATION                          END_LOCATION
0  POINT (-87.8059536529 41.9088560337)  POINT (-87.8055007941 41.8942683013)
1  POINT (-87.6645803881 41.7941615692)  POINT (-87.6742991606 41.7940535229)
2  POINT (-87.7241670914 41.8368812942)  POINT (-87.7244396463 41.8442541875)
3  POINT (-87.6185005579 41.8493409786)  POINT (-87.6176590907 41.8456997096)
4  POINT (-87.7624030192 41.7955741737)  POINT (-87.7526573727 41.7970886104)

[5 rows x 22 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9317653 entries, 0 to 9317652
Data columns (total 22 columns):
 #   Column           Dtype
---  ------           -----
 0   TIME             object
 1   SEGMENT_ID       float64
 2   SPEED            float64
 3   STREET           object
 4   DIRECTION        object
 5   FROM_STREET      object
 6   TO_STREET        object
 7   LENGTH           float64
 8   STREET_HEADING   object
 9   COMMENTS         object
 10  BUS_COUNT        float64
 11  MESSAGE_COUNT    float64
 12  HOUR             float64
 13  DAY_OF_WEEK      float64
 14  MONTH            float64
 15  RECORD_ID        object
 16  START_LATITUDE   float64
 17  START_LONGITUDE  float64
 18  END_LATITUDE     float64
 19  END_LONGITUDE    float64
 20  START_LOCATION   object
 21  END_LOCATION     object
dtypes: float64(12), object(10)
memory usage: 1.5+ GB
None
         SEGMENT_ID         SPEED        LENGTH     BUS_COUNT  MESSAGE_COUNT  \
count  9.317649e+06  9.317649e+06  9.317649e+06  9.317649e+06   9.317649e+06
mean   5.951912e+02  1.485652e+01  5.272187e-01  1.050886e+00   7.906619e+00
std    3.796086e+02  1.388226e+01  1.820371e-01  1.380932e+00   1.134285e+01
min    1.000000e+00 -1.000000e+00  7.000000e-02  0.000000e+00   0.000000e+00
25%    2.710000e+02 -1.000000e+00  5.000000e-01  0.000000e+00   0.000000e+00
50%    5.490000e+02  2.000000e+01  5.000000e-01  1.000000e+00   5.000000e+00
75%    8.900000e+02  2.500000e+01  5.300000e-01  1.000000e+00   1.200000e+01
max    1.309000e+03  6.400000e+01  1.540000e+00  3.000000e+01   3.610000e+02

               HOUR   DAY_OF_WEEK         MONTH  START_LATITUDE  \
count  9.317649e+06  9.317649e+06  9.317649e+06    9.317649e+06
mean   1.150159e+01  4.015947e+00  8.557732e+00    4.184993e+01
std    6.927559e+00  2.063758e+00  3.625429e+00    8.563281e-02
min    0.000000e+00  1.000000e+00  1.000000e+00    4.165897e+01
25%    5.000000e+00  2.000000e+00  9.000000e+00    4.178594e+01
50%    1.200000e+01  4.000000e+00  1.000000e+01    4.185991e+01
75%    1.700000e+01  6.000000e+00  1.100000e+01    4.191063e+01
max    2.300000e+01  7.000000e+00  1.200000e+01    4.201283e+01

       START_LONGITUDE  END_LATITUDE  END_LONGITUDE
count     9.317649e+06  9.317649e+06   9.317649e+06
mean     -8.768073e+01  4.184999e+01  -8.768074e+01
std       5.870232e-02  8.566950e-02   5.871464e-02
min      -8.783677e+01  4.165901e+01  -8.783683e+01
25%      -8.772486e+01  4.178594e+01  -8.772485e+01
50%      -8.766907e+01  4.185991e+01  -8.766905e+01
75%      -8.763563e+01  4.191063e+01  -8.763526e+01
max      -8.753505e+01  4.201283e+01  -8.753505e+01
['Harlem' 'Garfield' 'Pulaski' 'Dr Martin L King Jr' 'Archer'
 'Stony Island' 'State' '79th' 'Cicero' '55th' 'Cermak' 'Halsted'
 'Michigan' 'Milwaukee' 'Ewing' 'Broadway' 'Western' '87th' 'Roosevelt'
 'Ashland' 'Congress' 'Columbus' 'Higgins' 'Lake Shore Dr' '111th' 'Ohio'
 'North' 'LaSalle' 'Torrence' 'Peterson' 'Chicago' 'Irving Park' 'Wacker'
 'Randolph' '95th' 'Washington' 'Pershing' '127th' 'Illinois' 'Warren'
 'Harrison' 'Touhy' 'Caldwell' 'Grand' '130th' 'Cumberland' 'Ontario'
 'Ridge' 'Clark' 'Madison' 'Indiana' 'Balbo' 'Fairbanks' 'Jefferson'
 '57th' 'Desplaines' 'Hollywood' 'Sheridan' 'Jackson' 'Monterey'
 'Ramp To Cermak Rd' 'Elston' nan]
(9317653, 22)

In [18]:
df_clean1 = df_clean

In [19]:
print(df_clean1.shape)

(1130044, 22)

Checking if the SPEED column has any null values

In [20]:
print(df_clean1['SPEED'].isnull())

0          False
19         False
20         False
39         False
55         False
           ...
9317625    False
9317632    False
9317635    False
9317643    False
9317646    False
Name: SPEED, Length: 1130044, dtype: bool

Checking if the LENGTH(Segmenth_length) column has any null values

In [21]:
print(df_clean1['LENGTH'].isnull())

0          False
19         False
20         False
39         False
55         False
           ...
9317625    False
9317632    False
9317635    False
9317643    False
9317646    False
Name: LENGTH, Length: 1130044, dtype: bool

Checking if the SPEED column has any negative values

In [22]:
negative_values_mask = df_clean1['SPEED'] < 0
negative_values = df_clean1.loc[negative_values_mask, 'SPEED']

Considering only positive values

In [23]:
df_clean_pos = df_clean1[df_clean1['SPEED'] >= 0]

In [24]:
print(df_clean_pos['SPEED'])

0          23.0
19         26.0
20         31.0
39         21.0
55         35.0
           ...
9317613    27.0
9317616    20.0
9317635    34.0
9317643    32.0
9317646    27.0
Name: SPEED, Length: 627073, dtype: float64

Renaming the column names to source and target

In [25]:
import numpy as np
selected_columns = ['LENGTH', 'SPEED']
df_selected = df_clean_pos[selected_columns].copy()  # Ensure to use .copy() to avoid the warning

# Renaming the selected columns
df_selected.columns = ['source', 'target']

In [26]:
print(df_selected)

         source  target
0          1.01    23.0
19         0.50    26.0
20         0.50    31.0
39         0.20    21.0
55         0.50    35.0
...         ...     ...
9317613    0.50    27.0
9317616    0.63    20.0
9317635    0.91    34.0
9317643    0.50    32.0
9317646    0.49    27.0

[627073 rows x 2 columns]

Sorting the dataframe according to the target(SPEED) column in descending order of SPEED

In [27]:
df_sorted = df_selected.sort_values(by = 'target', ascending = False)

In [28]:
print(df_sorted)

         source  target
6565068    1.54    47.0
7852696    1.54    47.0
6812102    1.54    47.0
7462370    1.54    47.0
6887168    1.54    47.0
...         ...     ...
8137929    0.25     0.0
6306208    1.00     0.0
7057138    0.56     0.0
4369233    1.00     0.0
6815159    0.25     0.0

[627073 rows x 2 columns]

Dropping the Duplicate values from both the columns

In [29]:
df_unique = df_sorted.drop_duplicates(subset=['target', 'source'])

Getting only the unique values

In [30]:
print(df_unique)

         source  target
6565068    1.54    47.0
6211402    1.23    46.0
3644527    1.54    46.0
6217433    0.50    45.0
7892615    1.02    45.0
...         ...     ...
7749664    0.49     0.0
6918286    0.43     0.0
8175651    0.91     0.0
2154339    0.63     0.0
5387893    1.23     0.0

[852 rows x 2 columns]

Restricting the dataframe to get only top 100 rows

In [31]:
df_top_100 = df_unique.head(100)

In [32]:
print(df_top_100)

         source  target
6565068    1.54    47.0
6211402    1.23    46.0
3644527    1.54    46.0
6217433    0.50    45.0
7892615    1.02    45.0
...         ...     ...
7750068    0.25    36.0
5910832    1.01    36.0
6606298    0.49    36.0
511932     0.79    36.0
744079     1.02    36.0

[100 rows x 2 columns]

Creating a new column by specifying the threshold depending on the target column values

In [38]:
def create_value_column(row):
    target = float(row['target'])
    if target > 42:
        return 0
    elif 37 <= target <= 42:
        return 1
    else:
        return 2

New column called value is created with values 0, 1 and 2 (Not Congested, Congested and Extremely Congested)

In [43]:
df_top_100.loc[:, 'value'] = df_top_100.apply(create_value_column, axis=1)

C:\Users\hpokal2\AppData\Local\Temp\ipykernel_4388\995176387.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_top_100.loc[:, 'value'] = df_top_100.apply(create_value_column, axis=1)

In [44]:
print(df_top_100)

         source  target  value
6565068    1.54    47.0      0
6211402    1.23    46.0      0
3644527    1.54    46.0      0
6217433    0.50    45.0      0
7892615    1.02    45.0      0
...         ...     ...    ...
7750068    0.25    36.0      2
5910832    1.01    36.0      2
6606298    0.49    36.0      2
511932     0.79    36.0      2
744079     1.02    36.0      2

[100 rows x 3 columns]

In [45]:
print(df_top_100.dtypes)

source    float64
target    float64
value       int64
dtype: object

Converting the dataframe to csv and downloading it to local

In [46]:
df_top_100.to_csv('sankey.csv', index = False)

### Reference: https://hemanth-110500.github.io/visualizingGeneticMutation/